/* 페이지 상단 여백 추가 */
body {
  margin-top : 50px;
}

/* nav 안의 ul 스타일 설정 */
nav ul{ 
  width: 100%;
  background-color: darkblue;
  list-style-type : none;
  margin : 0;
  padding : 0;
}

/* nav 안의 ul 안의 li 요소들을 가로로 배치 */
nav ul li{
  display : inline-block;
}

/* 드롭다운 메뉴 부모 요소 */
.dropdown{
  position: relative; /* 자식요소의 절대위치 기준 */
}

/* 드롭다운 내부 a 태그 스타일 */
.dropdown a{
  color:white;
  text-decoration:none;
  padding : 12px 16px;
}

/* 드롭다운 메뉴 스타일 */
.dropdown-menu {
  color : white;
  padding: 16px;
  font-size: 16px;
}

/* 드롭다운의 숨겨진 컨텐츠(기본 숨김) */
.dropdown-content{
  display: none;
  position : absolute; /* 위치를 부모 기준으로 절대위치 설정*/
  background-color: darkcyan;
  color : ghostwhite;
  text-align: center;
  top:100%;
  left:0;
  min-width:115px;
}

/* 마우스 올렸을 때 드롭다운 컨텐츠 표시 */
.dropdown:hover .dropdown-content{
  display: block;
}

/* home 영역 스타일 */
#home{
  background-color: orange;
  width : 100px;
  text-align : center;
  float : right; /* 오른쪽 정렬 */
}

/* home 내부의 링크 스타일 */
#home a {
  display: block;
  text-decoration: none;
  color:white;
  padding: 16px;
}

/* 드롭다운 항목에 마우스 오버시 강조 효과 */
.dropdown-content a:hover{
  background-color:beige;
  display: block;
  color:darkred;
  margin:auto;
}