*{
  margin:0;
  padding:0;
}

main{
  display: flex;
  justify-content: center;
}

.img-box{
  width:120px;
  height: 120px;
  border:1px solid black;
  cursor: pointer;
  margin:10px auto;
  display : flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 100px;
  height: 100px;
}

.big-img-wrap{
  background-color: lightgray;
  position : absolute;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}